* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
}

body, button, input {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

.loading-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 20px;
  border-top: 2px solid rgb(158, 236, 255);
  border-right: 2px solid transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: spin 1.5s linear infinite;
}

.loading-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 20px;
  border-bottom: 2px solid rgb(192, 88, 243);
  border-left: 2px solid transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.header {
  height: 110px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-end;
}
.header h1 {
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 7px;
  color: white;
}
@media only screen and (min-width: 992px) {
  .header h1 {
    font-size: 2.2rem;
  }
}

.filter {
  padding: 20px 70px;
  margin: 20px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media only screen and (min-width: 992px) {
  .filter {
    display: none;
  }
}
.filter .filter-option {
  color: hsl(236deg, 9%, 61%);
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}
@media only screen and (min-width: 1440px) {
  .filter .filter-option:hover {
    color: hsl(233deg, 11%, 84%);
  }
}
.filter .filter-active {
  color: hsl(220deg, 98%, 61%);
}

.bottom-text {
  text-align: center;
  margin-top: 50px;
}
.bottom-text p {
  font-size: 1rem;
  color: hsl(236deg, 9%, 61%);
}
.bottom-text__desktop {
  display: none;
}
@media only screen and (min-width: 992px) {
  .bottom-text__mobile {
    display: none;
  }
  .bottom-text__desktop {
    display: block;
  }
}

.collapsed-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  gap: 20px;
}
.collapsed-wrap .logout-btn, .collapsed-wrap .delete-account-btn {
  background: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  transition: 0.4s;
  cursor: pointer;
  width: 200px;
}
.collapsed-wrap .logout-btn:hover, .collapsed-wrap .delete-account-btn:hover {
  color: hsl(235deg, 24%, 19%);
  background-image: linear-gradient(140deg, hsl(192deg, 100%, 81%), hsl(280deg, 87%, 65%));
  border-color: hsl(235deg, 24%, 19%);
}

.menu {
  align-self: flex-end;
  height: 50px;
  padding-top: 30px;
}
.menu .menu-toggler {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 1000;
}
.menu .menu-toggler__line {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: hsl(0deg, 0%, 98%);
}
.menu .menu-toggler .line-1 {
  top: 0px;
}
.menu .menu-toggler .line-2 {
  top: 10px;
  opacity: 1;
}
.menu .menu-toggler .line-3 {
  top: 20px;
}
.menu .menu-toggler .line-1-open {
  animation-name: animateLineOne;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
.menu .menu-toggler .line-2-open {
  animation-name: animateLineTwo;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
.menu .menu-toggler .line-3-open {
  animation-name: animateLineThree;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
.menu .menu-toggler .line-1-close {
  animation-name: animateLineOneReverse;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
.menu .menu-toggler .line-2-close {
  animation-name: animateLineTwoReverse;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
.menu .menu-toggler .line-3-close {
  animation-name: animateLineThreeReverse;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
@keyframes animateLineOne {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
    transform: rotate(0deg);
  }
  100% {
    top: 10px;
    transform-origin: center;
    transform: rotate(45deg);
  }
}
@keyframes animateLineTwo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animateLineThree {
  0% {
    top: 20px;
  }
  50% {
    top: 10px;
    transform: rotate(0deg);
  }
  100% {
    top: 10px;
    transform-origin: center;
    transform: rotate(-45deg);
  }
}
@keyframes animateLineOneReverse {
  0% {
    top: 10px;
    transform-origin: center;
    transform: rotate(45deg);
  }
  50% {
    top: 10px;
    transform: rotate(0deg);
  }
  100% {
    top: 0px;
  }
}
@keyframes animateLineTwoReverse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animateLineThreeReverse {
  0% {
    top: 10px;
    transform-origin: center;
    transform: rotate(-45deg);
  }
  50% {
    top: 10px;
    transform: rotate(0deg);
  }
  100% {
    top: 20px;
  }
}
.menu .side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  transition-property: left;
  transition-duration: 400ms;
  z-index: 100;
}
.menu .side-menu__inner {
  height: 100%;
  width: 70%;
  max-width: 350px;
  top: 0;
  padding: 20px 20px 20px 50px;
}
.menu .side-menu__inner-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
.menu .side-menu__inner-top .theme-icon {
  width: 25px;
  height: 25px;
}
.menu .side-menu__inner-top .logout-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 30px;
  border: 1px solid hsl(0deg, 0%, 98%);
  border-radius: 3px;
  color: hsl(0deg, 0%, 98%);
  padding: 0 10px;
}
.menu .side-menu__inner-option {
  color: hsl(0deg, 0%, 98%);
  margin-bottom: 30px;
}
.menu .menu-shown {
  left: 0;
}
.menu .menu-hidden {
  left: -100vw;
}

.collapsed-wrap__list {
  width: 100%;
  height: 70px;
  background: hsl(235deg, 24%, 19%);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}
.collapsed-wrap__list-text .collapsed-wrap__list-title {
  color: hsl(236deg, 9%, 61%);
}
.collapsed-wrap__list-text .date-created {
  font-size: 0.7rem;
  color: hsl(236deg, 9%, 61%);
}
.collapsed-wrap__list-btns {
  display: flex;
  gap: 20px;
}
.collapsed-wrap__list-btns .collapsed-wrap__view-btn {
  border: none;
  background: none;
  color: hsl(236deg, 9%, 61%);
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
}

.input-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 15px 5px 30px;
  border-radius: 5px;
}
@media only screen and (min-width: 768px) {
  .input-form {
    padding: 5px 25px;
  }
}
@media only screen and (min-width: 992px) {
  .input-form {
    padding: 5px 35px;
  }
}
.input-form input {
  height: 50px;
  background: none;
  border: none;
  font-size: 1rem;
  caret-color: hsl(234deg, 39%, 85%);
}
@media only screen and (min-width: 992px) {
  .input-form input {
    font-size: 1.2rem;
  }
}
.input-form input:focus {
  outline: none;
}
.input-form button {
  border: none;
  background: none;
  color: hsl(220deg, 98%, 61%);
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
}

.todo-list-wrap {
  width: 100%;
}
.todo-list-wrap .back-btn {
  position: absolute;
  left: 20px;
  top: 30px;
}
.todo-list-wrap .back-btn__icon {
  width: 35px;
}
.todo-list-wrap .todo-list {
  position: relative;
  margin: 15px 0 0;
  padding-bottom: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1px;
  border-radius: 5px 5px 0 0;
}
.todo-list-wrap .save-list {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.todo-list-wrap .save-list__btn {
  position: relative;
  background: none;
  height: 40px;
  width: 200px;
  border-radius: 4px;
}
.todo-list-wrap .banner {
  position: fixed;
  top: -100px;
  left: 50%;
  translate: -50% 0;
  padding: 20px 0;
  background-color: white;
  width: 210px;
  text-align: center;
  border-radius: 10px;
}
.todo-list-wrap .show-banner {
  animation-name: showBanner;
  animation-duration: 2000ms;
}
@keyframes showBanner {
  20% {
    top: 30px;
  }
  70% {
    top: 30px;
  }
  100% {
    top: -100px;
  }
}

.todo-list__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  padding: 20px;
  cursor: pointer;
  background-color: hsl(235deg, 24%, 19%);
}
.todo-list__item-check {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  margin-right: 10px;
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.todo-list__item .item-checked {
  background-image: linear-gradient(140deg, hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  border: none;
}
.todo-list__item .line-through {
  text-decoration: line-through;
}
.todo-list__item-text {
  font-size: 0.8rem;
  font-weight: 700;
  justify-items: flex-start;
  flex-grow: 1;
  color: hsl(236deg, 9%, 61%);
}
@media only screen and (min-width: 992px) {
  .todo-list__item-text {
    font-size: 1.2rem;
    font-weight: 300;
  }
}
.todo-list__item-delete {
  flex-grow: 0;
  display: flex;
  justify-content: flex-end;
  background: none;
  border: none;
  cursor: pointer;
}
@media only screen and (min-width: 992px) {
  .todo-list__item-delete {
    display: none;
  }
}

.todo-list__item:first-child {
  border-radius: 5px 5px 0 0;
}

.todo-list__item:hover > .todo-list__item-delete {
  display: flex;
}

.todo-list__footer {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
}
.todo-list__footer .pending {
  font-size: 0.8rem;
  color: hsl(236deg, 9%, 61%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.todo-list__footer-filter {
  display: none;
  gap: 10px;
}
@media only screen and (min-width: 992px) {
  .todo-list__footer-filter {
    display: flex;
  }
}
.todo-list__footer-filter .filter-option {
  font-size: 0.8rem;
  font-weight: 700;
  color: hsl(236deg, 9%, 61%);
  cursor: pointer;
}
.todo-list__footer-filter .filter-active {
  color: hsl(220deg, 98%, 61%);
}
.todo-list__footer .clear-completed-btn {
  background: none;
  border: none;
  font-size: 0.8rem;
  color: hsl(236deg, 9%, 61%);
  cursor: pointer;
}
.todo-list__footer .clear-completed-btn:hover {
  color: hsl(233deg, 11%, 84%);
}

.todo-list__footer:last-child {
  border-radius: 0 0 5px 5px;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: hsl(235deg, 21%, 11%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.loading-screen__spinner {
  height: 120px;
  width: 120px;
  background-image: linear-gradient(140deg, hsl(192deg, 100%, 81%), hsl(280deg, 87%, 65%));
  border-radius: 50%;
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.create-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.create-list .new-list-btn, .create-list .new-list-form button {
  background: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  transition: 0.4s;
  cursor: pointer;
  width: 200px;
}
.create-list .new-list-btn:hover {
  color: hsl(235deg, 24%, 19%);
  background-image: linear-gradient(140deg, hsl(192deg, 100%, 81%), hsl(280deg, 87%, 65%));
  border-color: hsl(235deg, 24%, 19%);
}
.create-list .new-list-form {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 50px 0;
}
.create-list .new-list-form input {
  background: none;
  width: 80%;
  border: none;
  border-bottom: 1px solid hsl(236deg, 9%, 61%);
  text-align: center;
  font-size: 1.2rem;
}
.create-list .new-list-form input:focus {
  outline: none;
}
.create-list .new-list-form-btns {
  display: flex;
  gap: 50px;
}
.create-list .new-list-form-btns button {
  width: 100px;
}
.create-list .new-list-form-btns button:hover {
  color: hsl(235deg, 24%, 19%);
  background-image: linear-gradient(140deg, hsl(192deg, 100%, 81%), hsl(280deg, 87%, 65%));
  border-color: hsl(235deg, 24%, 19%);
}

.delete-list-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.delete-list-modal__body {
  height: 200px;
  width: 90%;
  max-width: 330px;
  border-radius: 10px;
  background-color: hsl(0deg, 0%, 98%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  align-items: flex-start;
  padding: 0 40px;
}
.delete-list-modal__body .delete-modal-text {
  font-size: 1.4rem;
  color: hsl(235deg, 24%, 19%);
}
.delete-list-modal__body .delete-list-modal__btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.delete-list-modal__body .delete-list-modal__btns .delete-modal__button {
  background: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 1rem;
  transition: 0.4s;
  cursor: pointer;
  color: hsl(235deg, 24%, 19%);
  border: 1px solid hsl(235deg, 24%, 19%);
}

.delete-account-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 100;
}
.delete-account-modal__body {
  height: 200px;
  width: 90%;
  max-width: 330px;
  border-radius: 10px;
  background-color: hsl(0deg, 0%, 98%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  align-items: flex-start;
  padding: 0 40px;
}
.delete-account-modal__body .delete-modal-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.delete-account-modal__body .delete-modal-text .text-upper {
  font-size: 1.4rem;
  color: hsl(235deg, 24%, 19%);
}
.delete-account-modal__body .delete-modal-text .text-lower {
  font-size: 1rem;
  color: hsl(235deg, 24%, 19%);
}
.delete-account-modal__body .delete-account-modal__btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.delete-account-modal__body .delete-account-modal__btns .delete-modal__button {
  background: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 1rem;
  transition: 0.4s;
  cursor: pointer;
  color: hsl(235deg, 24%, 19%);
  border: 1px solid hsl(235deg, 24%, 19%);
}

.login {
  min-height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-image: linear-gradient(140deg, hsl(192deg, 100%, 81%), hsl(280deg, 87%, 65%));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 992px) {
  .login {
    background: hsl(235deg, 21%, 11%);
  }
}
.login__header {
  text-align: left;
  width: 90%;
  max-width: 400px;
  transform: translateY(-50px);
}
.login__header-title {
  color: hsl(235deg, 24%, 19%);
  letter-spacing: 10px;
  font-size: 3rem;
}
@media only screen and (min-width: 992px) {
  .login__header-title {
    color: hsl(234deg, 39%, 85%);
  }
}
.login__top {
  width: 90%;
  width: 90%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.login__top h1 {
  font-size: 20px;
  color: hsl(234deg, 39%, 85%);
}
.login__top .top__section {
  position: relative;
  width: 50%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(235deg, 24%, 19%);
  transition: 0.2s;
}
.login__top .top__front {
  z-index: 100;
  height: 80px;
}
.login__top .top__login::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 100%;
  height: 100%;
  width: 10px;
  background-image: linear-gradient(to right, rgba(26, 26, 44, 0.842), rgba(0, 0, 0, 0));
}
.login__top .top__register::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 100%;
  height: 100%;
  width: 10px;
  background-image: linear-gradient(to left, rgba(26, 26, 44, 0.842), rgba(0, 0, 0, 0));
}
.login__top .top__back {
  height: 70px;
  z-index: 90;
  cursor: pointer;
}
.login__top .top__back:hover > h1 {
  color: hsl(234deg, 39%, 85%);
}
.login__top .top__back h1 {
  color: hsl(234deg, 14%, 42%);
}
.login__body {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 90%;
  max-width: 400px;
  display: flex;
  background-color: hsl(235deg, 24%, 19%);
  z-index: 100;
  transition: 0.2s;
  box-shadow: 0px 15px 17px -12px rgb(20, 20, 20);
}
.login__body .login-form, .login__body .register-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  width: 100%;
  transition: 0.2s;
}
.login__body .login-form button, .login__body .register-form button {
  background: none;
  border: 1px solid hsl(234deg, 39%, 85%);
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  color: hsl(234deg, 39%, 85%);
  transition: 0.4s;
  cursor: pointer;
  width: 200px;
  position: relative;
}
@media only screen and (min-width: 1440px) {
  .login__body .login-form button:hover, .login__body .register-form button:hover {
    color: hsl(235deg, 24%, 19%);
    background-image: linear-gradient(140deg, hsl(192deg, 100%, 81%), hsl(280deg, 87%, 65%));
  }
}
.login__body .login-form .login-button, .login__body .register-form .login-button {
  height: 42px;
}
.login__body .login-form .register-msg, .login__body .register-form .register-msg {
  color: rgb(120, 209, 120);
}
.login__body .register-form {
  gap: 50px;
}
.login__body .form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
}
.login__body .form-inputs input {
  background: none;
  border: none;
  border-bottom: 1px solid hsl(233deg, 14%, 35%);
  width: 90%;
  font-size: 20px;
  padding: 0 10px;
  color: hsl(234deg, 39%, 85%);
}
.login__body .form-inputs input:focus {
  outline: none;
}
.login__body .form-inputs .match {
  color: rgb(112, 177, 112);
}
.login__body .form-inputs .no-match {
  color: rgb(212, 129, 129);
}
.login__body .form-inputs label {
  position: absolute;
  top: 230px;
  left: 20px;
  font-size: 0.9rem;
}
.login__body .error-msg {
  color: rgb(212, 129, 129);
}
.login__body .forgotPassword {
  color: hsl(234deg, 39%, 85%);
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
}
.login .body-login {
  height: 300px;
}
.login .body-register {
  height: 400px;
}
.login .shadow-right::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  height: 15px;
  width: 50%;
  background-image: linear-gradient(to top, rgba(26, 26, 44, 0.842), rgba(0, 0, 0, 0));
}
.login .shadow-left::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  height: 15px;
  width: 50%;
  background-image: linear-gradient(to top, rgba(26, 26, 44, 0.842), rgba(0, 0, 0, 0));
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 100px;
  width: 100%;
  min-height: 100vh;
}
main .bg-img {
  height: 200px;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}
main .wrap {
  width: 85%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  z-index: 20;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.show-flex {
  display: flex !important;
}

.invisible {
  opacity: 0 !important;
}

.visible {
  opacity: 1 !important;
}

.bg-dark {
  background: hsl(235deg, 24%, 19%);
}

.input-text-dark {
  color: hsl(234deg, 39%, 85%);
}

.text-dark {
  color: hsl(234deg, 39%, 85%);
}

.todo-list-dark {
  background-color: #393a4c;
}

.todo-list-dark::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 90%;
  height: 2px;
  z-index: -1;
  box-shadow: 0 5px 25px 3px rgb(19, 19, 19);
}

.border-dark {
  border: 1px solid hsl(237deg, 14%, 26%);
}

.bg-image-dark {
  background-image: url("../images/mobile-bg-dark.jpg");
}

.main-dark {
  background-color: hsl(235deg, 21%, 11%);
}

.button-dark {
  border: 1px solid hsl(234deg, 39%, 85%);
  color: hsl(234deg, 39%, 85%);
}

.menu-dark {
  background-color: hsl(240deg, 5%, 8%);
}

.bg-light {
  background: hsl(0deg, 0%, 98%);
}

.text-light {
  color: hsl(235deg, 19%, 35%);
}

.input-text-light {
  color: hsl(233deg, 14%, 35%);
}

.todo-list-light {
  background-color: hsl(233deg, 11%, 84%);
}

.todo-list-light::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 90%;
  height: 2px;
  z-index: -1;
  box-shadow: 0 5px 25px 1px rgb(100, 100, 100);
}

.border-light {
  border: 1px solid hsl(233deg, 11%, 84%);
}

.bg-image-light {
  background-image: url("../images/mobile-bg-light.jpg");
}

.main-light {
  background-color: hsl(236deg, 33%, 92%);
}

.button-light {
  border: 1px solid hsl(233deg, 14%, 35%);
  color: hsl(233deg, 14%, 35%);
}

.menu-light {
  background-color: hsl(236deg, 9%, 61%);
}