.todo-list-wrap {
    width: 100%;

    .back-btn {
        position: absolute;
        left: 20px;
        top: 30px;

        &__icon {
            width: 35px;
        }
    }
    .todo-list {
        position: relative;
        margin: 15px 0 0;
        padding-bottom: 1px;
        @include flex_centered(column);
        gap: 1px;
        border-radius: 5px 5px 0 0;
    }
    .save-list {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        &__btn {
            position: relative;
            background: none;
            height: 40px;
            width: 200px;
            border-radius: 4px;
        }
    }
    .banner {
        position: fixed;
        top: -100px;
        left: 50%;
        translate: -50% 0;
        padding: 20px 0;
        background-color: white;
        width: 210px;
        text-align: center;
        border-radius: 10px;
    }
    .show-banner {
        animation-name: showBanner;
        animation-duration: 2000ms;
    }
    @keyframes showBanner {
        20% {top: 30px}
        70% {top: 30px}
        100% {top: -100px}
    }
}

