* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
}

body, button, input {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin: 50px 0 35px;
}

@media only screen and (min-width: 992px) {
  .header {
    margin: 75px 0 35px;
  }
}

.header h1 {
  font-size: 1.7rem;
  letter-spacing: 7px;
  color: white;
}

@media only screen and (min-width: 992px) {
  .header h1 {
    font-size: 2.2rem;
  }
}

.header button {
  background: none;
  border: none;
  cursor: pointer;
}

.header .icon-moon, .header .icon-sun {
  width: 20px;
}

@media only screen and (min-width: 992px) {
  .header .icon-moon, .header .icon-sun {
    width: 25px;
  }
}

.collapsed-wrap__list {
  width: 100%;
  height: 70px;
  background: #25273c;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.collapsed-wrap__list-text .collapsed-wrap__list-title {
  color: #9394a5;
}

.collapsed-wrap__list-text .date-created {
  font-size: .7rem;
  color: #9394a5;
}

.collapsed-wrap__list-btns {
  display: flex;
  gap: 20px;
}

.collapsed-wrap__list-btns .collapsed-wrap__view-btn {
  border: none;
  background: none;
  color: #9394a5;
  font-size: .8rem;
  font-weight: 700;
  cursor: pointer;
}

.input-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 15px 5px 30px;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .input-form {
    padding: 5px 25px;
  }
}

@media only screen and (min-width: 992px) {
  .input-form {
    padding: 5px 35px;
  }
}

.input-form input {
  height: 50px;
  background: none;
  border: none;
  font-size: .8rem;
  caret-color: #cacde8;
}

@media only screen and (min-width: 992px) {
  .input-form input {
    font-size: 1rem;
  }
}

.input-form input:focus {
  outline: none;
}

.input-form button {
  border: none;
  background: none;
  color: #3a7bfd;
  font-size: .8rem;
  font-weight: 700;
  cursor: pointer;
}

.todo-list-wrap {
  width: 100%;
}

.todo-list-wrap .todo-list {
  position: relative;
  margin: 15px 0 0;
  padding-bottom: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1px;
  border-radius: 5px 5px 0 0;
}

.todo-list-wrap .light::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 90%;
  height: 2px;
  z-index: -1;
  box-shadow: 0 5px 25px 1px #646464;
}

.todo-list-wrap .back-to-lists-wrap {
  text-align: center;
}

.todo-list-wrap .back-to-lists-wrap .back-to-lists-btn {
  background: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  transition: .4s;
  cursor: pointer;
  width: 200px;
  margin: 50px 0;
}

.todo-list-wrap .back-to-lists-wrap .back-to-lists-btn:hover {
  color: #25273c;
  background-image: linear-gradient(140deg, #9eecff, #c058f3);
  border-color: #25273c;
}

.todo-list__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  padding: 20px;
  cursor: pointer;
  background-color: #25273c;
}

.todo-list__item-check {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  margin-right: 10px;
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.todo-list__item .item-checked {
  background-image: linear-gradient(140deg, #57ddff, #c058f3);
  border: none;
}

.todo-list__item .line-through {
  text-decoration: line-through;
}

.todo-list__item-text {
  font-size: .8rem;
  font-weight: 700;
  justify-items: flex-start;
  flex-grow: 1;
  color: #9394a5;
}

@media only screen and (min-width: 992px) {
  .todo-list__item-text {
    font-size: 1.2rem;
    font-weight: 300;
  }
}

.todo-list__item-delete {
  flex-grow: 0;
  display: flex;
  justify-content: flex-end;
  background: none;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .todo-list__item-delete {
    display: none;
  }
}

.todo-list__item:first-child {
  border-radius: 5px 5px 0 0;
}

.todo-list__item:hover > .todo-list__item-delete {
  display: flex;
}

.todo-list__footer {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
}

.todo-list__footer .pending {
  font-size: .8rem;
  color: #9394a5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.todo-list__footer-filter {
  display: none;
  gap: 10px;
}

@media only screen and (min-width: 992px) {
  .todo-list__footer-filter {
    display: flex;
  }
}

.todo-list__footer-filter .filter-option {
  font-size: .8rem;
  font-weight: 700;
  color: #9394a5;
  cursor: pointer;
}

.todo-list__footer-filter .filter-active {
  color: #3a7bfd;
}

.todo-list__footer .clear-completed-btn {
  background: none;
  border: none;
  font-size: .8rem;
  color: #9394a5;
  cursor: pointer;
}

.todo-list__footer:last-child {
  border-radius: 0 0 5px 5px;
}

.filter {
  padding: 20px 70px;
  margin: 20px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media only screen and (min-width: 992px) {
  .filter {
    display: none;
  }
}

.filter .filter-option {
  color: #9394a5;
  font-size: .8rem;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}

.filter .filter-active {
  color: #3a7bfd;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #161722;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.loading-screen__spinner {
  height: 120px;
  width: 120px;
  background-image: linear-gradient(140deg, #9eecff, #c058f3);
  border-radius: 50%;
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.bottom-text {
  text-align: center;
  margin-top: 50px;
}

.bottom-text p {
  font-size: 1rem;
  color: #9394a5;
}

.bottom-text__desktop {
  display: none;
}

@media only screen and (min-width: 992px) {
  .bottom-text__mobile {
    display: none;
  }
  .bottom-text__desktop {
    display: block;
  }
}

.login {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(140deg, #9eecff, #c058f3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 992px) {
  .login {
    background: #161722;
  }
}

.login__header {
  text-align: left;
  width: 90%;
  max-width: 400px;
  transform: translateY(-50px);
}

.login__header-title {
  color: #25273c;
  letter-spacing: 10px;
  font-size: 3rem;
}

@media only screen and (min-width: 992px) {
  .login__header-title {
    color: #cacde8;
  }
}

.login__top {
  width: 90%;
  width: 90%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.login__top h1 {
  font-size: 20px;
  color: #cacde8;
}

.login__top .top__section {
  position: relative;
  width: 50%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25273c;
  transition: .2s;
}

.login__top .top__front {
  z-index: 100;
  height: 80px;
}

.login__top .top__login::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 100%;
  height: 100%;
  width: 10px;
  background-image: linear-gradient(to right, rgba(26, 26, 44, 0.842), rgba(0, 0, 0, 0));
}

.login__top .top__register::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 100%;
  height: 100%;
  width: 10px;
  background-image: linear-gradient(to left, rgba(26, 26, 44, 0.842), rgba(0, 0, 0, 0));
}

.login__top .top__back {
  height: 70px;
  z-index: 90;
  cursor: pointer;
}

.login__top .top__back:hover > h1 {
  color: #cacde8;
}

.login__top .top__back h1 {
  color: #5c5f7a;
}

.login__body {
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 400px;
  width: 90%;
  max-width: 400px;
  padding: 20px 0;
  display: flex;
  background-color: #25273c;
  z-index: 100;
  transition: .2s;
  box-shadow: 0px 15px 17px -12px #141414;
}

.login__body .forgotPassword {
  color: #cacde8;
  font-size: .9rem;
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
}

.login__body .form {
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  width: 100%;
  transition: .2s;
}

.login__body .form button {
  background: none;
  border: 1px solid #cacde8;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  color: #cacde8;
  transition: .4s;
  cursor: pointer;
  width: 200px;
}

.login__body .form button:hover {
  color: #25273c;
  background-image: linear-gradient(140deg, #9eecff, #c058f3);
}

.login__body .form-hidden {
  display: none;
}

.login__body .form-flex {
  display: flex;
}

.login__body .register-form {
  height: 75%;
  padding-bottom: 20px;
}

.login__body .form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.login__body .form-inputs input {
  background: none;
  border: none;
  border-bottom: 1px solid #4d5066;
  width: 90%;
  font-size: 20px;
  padding: 0 10px;
  color: #cacde8;
}

.login__body .form-inputs input:focus {
  outline: none;
}

.login__body .form-inputs .match {
  color: #70b170;
}

.login__body .form-inputs .no-match {
  color: #d48181;
}

.login__body .form-inputs label {
  position: absolute;
  top: 190px;
  left: 20px;
  font-size: .9rem;
}

.login .shadow-right::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  height: 15px;
  width: 50%;
  background-image: linear-gradient(to top, rgba(26, 26, 44, 0.842), rgba(0, 0, 0, 0));
}

.login .shadow-left::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  height: 15px;
  width: 50%;
  background-image: linear-gradient(to top, rgba(26, 26, 44, 0.842), rgba(0, 0, 0, 0));
}

.logout-btn {
  background: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  transition: .4s;
  cursor: pointer;
  width: 200px;
}

.logout-btn:hover {
  color: #25273c;
  background-image: linear-gradient(140deg, #9eecff, #c058f3);
  border-color: #25273c;
}

.create-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.create-list .new-list-btn, .create-list .new-list-form button {
  background: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  transition: .4s;
  cursor: pointer;
  width: 200px;
  margin: 30px 0 0;
}

.create-list .new-list-btn:hover {
  color: #25273c;
  background-image: linear-gradient(140deg, #9eecff, #c058f3);
  border-color: #25273c;
}

.create-list .new-list-form {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 50px 0;
}

.create-list .new-list-form input {
  background: none;
  width: 80%;
  border: none;
  border-bottom: 1px solid #cacde8;
  text-align: center;
  font-size: 1.2rem;
  color: #cacde8;
}

.create-list .new-list-form input:focus {
  outline: none;
}

.create-list .new-list-form-btns {
  display: flex;
  gap: 50px;
}

.create-list .new-list-form-btns button {
  width: 100px;
}

.collapsed-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.collapsed-wrap__btns {
  display: flex;
  width: 100%;
}

.wrap {
  width: 85%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 100px;
  width: 100%;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.show-flex {
  display: flex !important;
}

.invisible {
  opacity: 0 !important;
}

.visible {
  opacity: 1 !important;
}

.bg-dark {
  background: #25273c;
}

.input-text-dark {
  color: #cacde8;
}

.text-dark {
  color: #cacde8;
}

.todo-list-dark {
  background-color: #393a4c;
}

.todo-list-dark::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 90%;
  height: 2px;
  z-index: -1;
  box-shadow: 0 5px 25px 3px #131313;
}

.border-dark {
  border: 1px solid #393a4c;
}

.main-dark {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/bg-mobile-dark.jpg");
  background-color: #161722;
}

@media only screen and (min-width: 992px) {
  .main-dark {
    background-image: url("../images/bg-desktop-dark.jpg");
  }
}

.button-dark {
  border: 1px solid #cacde8;
  color: #cacde8;
}

.bg-light {
  background: #fafafa;
}

.text-light {
  color: #484b6a;
}

.input-text-light {
  color: #4d5066;
}

.todo-list-light {
  background-color: #d2d3db;
}

.todo-list-light::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 90%;
  height: 2px;
  z-index: -1;
  box-shadow: 0 5px 25px 1px #646464;
}

.border-light {
  border: 1px solid #d2d3db;
}

.main-light {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/bg-mobile-light.jpg");
  background-color: #e4e5f1;
}

@media only screen and (min-width: 992px) {
  .main-light {
    background-image: url("../images/bg-desktop-light.jpg");
  }
}

.button-light {
  border: 1px solid #9394a5;
  color: #9394a5;
}
