.header {
    height: 110px;
    width: 100%;
    max-width: 500px;
    @include flex_centered(row);
    align-items: flex-end;

    h1 {
        text-align: center;
        font-size: 1.4rem;
        letter-spacing: 7px;
        color: white;
        @include responsive($tablet_large){
            font-size: 2.2rem;
        }
    }
}