.todo-list__footer {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 5px 5px;

    .pending {
        font-size: .8rem;
        color: $dark_grayish_blue;
        @include flex_centered(row);
    }
    &-filter {
        display: none;
        gap: 10px;
        @include responsive($tablet_large){
            display: flex;
        }
        
        .filter-option {
            font-size: .8rem;
            font-weight: 700;
            color: $dark_grayish_blue;
            cursor: pointer;
        }
        .filter-active {
            color: $bright_blue;
        }
    }
    .clear-completed-btn {
        background: none;
        border: none;
        font-size: .8rem;
        color: $dark_grayish_blue;
        cursor: pointer;

        &:hover {
            color: $light_grayish_blue;
        }
    }
}
.todo-list__footer:last-child {
    border-radius: 0 0 5px 5px;
}